    <!--Footer Details-->
    <header>
    <nav class="navbar fixed-bottom navbar-light bg-light">
      <h6 class="display-6 navbar-text" style ="margin: auto;"> &copy; All Rights Reserved Survey Pirates 2021</h6>
    </nav>
    <header>