    <!--Footer Details-->
    <header>
    <nav class="navbar fixed-bottom navbar-light navbar-custom py-3">
      <h6 class="display-6 navbar-text" style ="margin: auto;" id="li-text-color"> &copy; All Rights Reserved Survey Pirates 2021</h6>
    </nav>
    <header>